{% extends "base_generic.html" %}
{% block content %}
<h1 style="color: #FA8072;padding-left: 250px;text-decoration: underline;">ABOUT THE ADVANCED VERSION OF SITE</h1>
{%load static%}
<img src="{%static 'abt.jpeg'%}" style="padding-left: 350px;  height: 40%;
  width: 60%;">
<h4 style="color: #008080;padding-top: 20px;">Accessibility and Responsiveness</h4>
<article style="padding-right: 100px;">AI Therapist can provide unprecedented accessibility by being available 24/7 at little to no cost. The program collectsa data that allows it to create a level of therapeutic rapport with users and offer relevant responses.
The level of engagement continues to develop as the program learns more about the user and collects additional data. Through this process, the program is able to better detect and work toward meeting a user's individual behavioral and emotional health goals and needs.

<h4 style="color: #008080">Privacy and Anonymity</h4>
Many people value their privacy and enjoy the anonymity technology can provide. Considering the sensitive and personal nature of the content shared in counseling and therapy, programs using AI  can be used anonymously by users can be an appealing asset.
Much of what would be discussed in counseling for depression involves emotional hurt, painful experiences and fear, and other tough topics that leave people feeling vulnerable. For some, discussing and sharing this information anonymously, and through a screen rather than face-to-face, can be less intimidating.

<h4 style="color: #008080">Access and Stigma</h4>
AI Therapist also hope to address other barriers to mental health treatment, such as a lack of providers in rural areas, the stigma associated with mental illness, and feelings of fear, guilt, or shame that may stop someone with depression from reaching out to others.
The ability to maintain one's privacy when discussing mental health coupled with the flexibility to do so when it's convenient and from one's own space makes these AI-designed website for depression appealing and potentially useful.</article>
{%endblock%}