{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<h1 style="color: #FA8072;text-align: center;text-decoration: underline;padding-bottom: 10px">
	WELCOME TO THERAPIST BOT
</h1>
<img src="{% static 'ait2.png' %}" style="padding-left: 300px;padding-bottom: 15px">

<article style="color: #999999;font-size: 
20px;font-color:#0000FF";font-family: monospace;>
	<pre style="color: #008080;font-family:  cursive; ">
         Are you lookings for motivation??
	 Are you looking for stress buster??
	 Do you want to control your anger??
	 Are you worried about relationship problems and many more problems??
	 <span style="font-size: 20px;color:#008000">Hurray!Then you are at right place.</span>
	 If you are new user register and login to use our exclusive <span style="font-size: 20px;color:#008000">CHAT WITH BOT</span> feature AND to contact professional doctors.
	 HOPE YOU WILL LIKE IT!
	 Doctors who want to join us contact at <a href="9174266339">9174266339</a>.
	</pre>



	
	
</article>



{% endblock %}