{% extends "base_generic.html" %}

{% block content %}
    <h1><u>Borrowed books</u></h1>
     <div style="margin-left:20px;margin-top:10px">
    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %} 
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}" style="font-size: 20px">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})        
      </li>
      {% endfor %}
    </ul>

    {% else %}
       <p style="font-family: cursive;font-size: 20px;">There are no books borrowed.</p>
    {% endif %}
    </div>       
{% endblock %}